In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

Backing off send_request(...) for 0.5s (requests.exceptions.ConnectionError: HTTPSConnectionPool(host='api.segment.io', port=443): Max retries exceeded with url: /v1/batch (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x000001C39DE3BD00>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')))
Backing off send_request(...) for 0.5s (requests.exceptions.ConnectionError: HTTPSConnectionPool(host='api.segment.io', port=443): Max retries exceeded with url: /v1/batch (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x000001C39DE551F0>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')))
Backing off send_request(...) for 2.2s (requests.exceptions.ConnectionError: HTTPSConnectionPool(host='api.segment.io', port=443): Max retries exceeded with url: /v1/batch (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x000001C39DE551C0>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')))
Backing off send_request(...) for 6.5s (requests.exceptions.ConnectionError: HTTPSConnectionPool(host='api.segment.io', port=443): Max retries exceeded with url: /v1/batch (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x000001C3A66B1B20>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')))

In [2]:
vee = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv',encoding='latin-1')
vee.to_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', index=False)
vee.head(3)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.0,39728.0,40551.0,41389.0,42228.0
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.0,0.0,0.0,0.0,0.0
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.0,3379.0,3372.0,3341.0,3322.0

In [3]:
#Question 11
vee.groupby('Item')['Y2014'].sum()

Item
Alcohol, Non-Food        2403.00
Alcoholic Beverages    102410.11
Animal Products         11935.65
Animal fats            209460.54
Apples and products      9499.23
                         ...
Vegetables, Other      155038.96
Vegetal Products       107145.19
Wheat and products     232670.13
Wine                     4497.36
Yams                   200396.96
Name: Y2014, Length: 119, dtype: float64

In [4]:
vee.groupby('Item')['Y2017'].sum()

Item
Alcohol, Non-Food        2348.00
Alcoholic Beverages     95581.06
Animal Products         11547.65
Animal fats            269617.53
Apples and products     10198.90
                         ...
Vegetables, Other      157752.59
Vegetal Products       107655.20
Wheat and products     240047.62
Wine                     4178.02
Yams                   229174.59
Name: Y2017, Length: 119, dtype: float64

In [5]:
vee.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [6]:
#Question 12
vee.groupby('Item')['Y2015'].describe().sum()

count     59395.000000
mean      25481.939954
std       80463.005497
min      -17548.540000
25%         125.160000
50%         591.730000
75%       21885.872500
max      808183.970000
dtype: float64

In [7]:
vee[['Y2016']].isnull().sum()

Y2016    1535
dtype: int64

In [8]:
vee.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [9]:
vee.isnull().sum().describe()

count      12.000000
mean      634.500000
std       784.885574
min         0.000000
25%         0.000000
50%         0.000000
75%      1513.250000
max      1589.000000
dtype: float64

In [10]:
#Question 
ve2=vee.groupby('Element').sum()
ve2

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Domestic supply quantity,708993,14197445,28068795,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,599910,11840553,26026133,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),675050,13535000,3435732,10225.56,10235.74,10102.77,10253.84,10258.69
Feed,176272,3538507,7282199,216927.89,225050.22,228958.65,223705.68,233489.68
Food,663295,13285035,25406622,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
...,...,...,...,...,...,...,...,...
Residuals,623271,12421089,24066350,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,103537,2035933,4211574,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,571566,11329527,21464704,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,6020,112545,22995,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,50308,1486528,2869905,416.00,349.00,89.00,91.00,90.00

In [11]:
ve2=vee.groupby('Element').sum()
ve2.sort_values(by ="Element").head(12)

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Domestic supply quantity,708993,14197445,28068795,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,599910,11840553,26026133,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),675050,13535000,3435732,10225.56,10235.74,10102.77,10253.84,10258.69
Feed,176272,3538507,7282199,216927.89,225050.22,228958.65,223705.68,233489.68
Food,663295,13285035,25406622,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
...,...,...,...,...,...,...,...,...
Import Quantity,688174,13795966,28834929,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,274353,5424803,10292107,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),235554,4729749,8926728,78718.13,66254.41,69563.68,91645.97,91300.97
Processing,271940,5350416,10313310,282923.00,287929.00,280631.00,292836.00,308429.00
Production,526751,10450053,21388191,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89

In [12]:
#Question 15
#Y2017 has the highest import quality
ve2.loc['Import Quantity'][0:]

Area Code         688174.00
Item Code       13795966.00
Element Code    28834929.00
Y2014             274144.48
Y2015             267018.46
Y2016             286582.78
Y2017             294559.09
Y2018             287997.09
Name: Import Quantity, dtype: float64

In [13]:
# vee.groupby('Item')['Y2014'].sum()

In [14]:
#question 16
ve3=vee.groupby('Element')['Y2014'].sum()
ve3.loc['Production']

1931287.75

In [15]:
#Question17
ve4=vee.groupby('Element')['Y2018'].sum()
ve4

Element
Domestic supply quantity                  2161192.10
Export Quantity                            181594.80
Fat supply quantity (g/capita/day)          10258.69
Feed                                       233489.68
Food                                      1303841.28
Food supply (kcal/capita/day)              455261.00
Food supply quantity (kg/capita/yr)         49056.85
Import Quantity                            287997.09
Losses                                     163902.00
Other uses (non-food)                       91300.97
Processing                                 308429.00
Production                                2075072.89
Protein supply quantity (g/capita/day)      11833.56
Residuals                                   34864.00
Seed                                        25263.14
Stock Variation                             20577.91
Total Population - Both sexes             1140605.00
Tourist consumption                            90.00
Name: Y2018, dtype: float64

In [16]:
ve4.max()#The highest Quantity is Domestic supply quantity

2161192.1

In [17]:
# #Question 18
# ve4.sort_values(by = "Element")
# # ve2.sort_values(by ="Element", ).head(12)
ve4=vee.groupby('Element')['Y2018'].sum()
ve4

Element
Domestic supply quantity                  2161192.10
Export Quantity                            181594.80
Fat supply quantity (g/capita/day)          10258.69
Feed                                       233489.68
Food                                      1303841.28
Food supply (kcal/capita/day)              455261.00
Food supply quantity (kg/capita/yr)         49056.85
Import Quantity                            287997.09
Losses                                     163902.00
Other uses (non-food)                       91300.97
Processing                                 308429.00
Production                                2075072.89
Protein supply quantity (g/capita/day)      11833.56
Residuals                                   34864.00
Seed                                        25263.14
Stock Variation                             20577.91
Total Population - Both sexes             1140605.00
Tourist consumption                            90.00
Name: Y2018, dtype: float64

In [18]:
vee.head(3)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.0,39728.0,40551.0,41389.0,42228.0
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.0,0.0,0.0,0.0,0.0
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.0,3379.0,3372.0,3341.0,3322.0

In [19]:
##Question 19
ve6= vee.groupby('Area')['Y2018'].count().head(5)
ve6

Area
Algeria         1298
Angola          1396
Benin           1252
Botswana        1361
Burkina Faso    1373
Name: Y2018, dtype: int64

In [20]:
# ve6['Algeria'].()

In [21]:
vee.head(2)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.0,39728.0,40551.0,41389.0,42228.0
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.0,0.0,0.0,0.0,0.0

In [22]:
vee.groupby('Area').count().head(5)

,Area Code,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
Area,,,,,,,,,,,
Algeria,1313,1313,1313,1313,1313,1313,1261,1268,1274,1279,1298
Angola,1424,1424,1424,1424,1424,1424,1378,1378,1388,1407,1396
Benin,1285,1285,1285,1285,1285,1285,1250,1260,1257,1253,1252
Botswana,1378,1378,1378,1378,1378,1378,1361,1369,1365,1368,1361
Burkina Faso,1409,1409,1409,1409,1409,1409,1382,1372,1392,1383,1373

In [23]:
ve10=vee.groupby('Area')['Y2018'].sum()
ve10.count()

49

In [24]:
##Question 20
#############
ve8= vee.groupby('Area')['Area Code'].count()
ve8

Area
Algeria                         1313
Angola                          1424
Benin                           1285
Botswana                        1378
Burkina Faso                    1409
Cabo Verde                      1260
Cameroon                        1460
Central African Republic        1344
Chad                            1343
Comoros                           45
Congo                           1413
CÃÂÃÂÃÂÃÂ´te d'Ivoire    1467
Djibouti                        1095
Egypt                           1488
Eswatini                        1284
Ethiopia                        1447
Ethiopia PDR                      39
Gabon                           1245
Gambia                          1168
Ghana                           1354
Guinea                          1410
Guinea-Bissau                   1128
Kenya                           1560
Lesotho                         1150
Liberia                         1206
Madagascar                      1439
Malawi                          1447
Mali                            1293
Mauritania                      1195
Mauritius                       1378
Morocco                         1393
Mozambique                      1427
Namibia                         1283
Niger                           1403
Nigeria                         1474
Rwanda                          1426
Sao Tome and Principe           1177
Senegal                         1462
Seychelles                        68
Sierra Leone                    1242
South Africa                    1399
Sudan                           1316
Sudan (former)                    53
Togo                            1294
Tunisia                         1338
Uganda                          1458
United Republic of Tanzania     1419
Zambia                          1451
Zimbabwe                        1393
Name: Area Code, dtype: int64

In [25]:
ve8.isnull().count()

49

Backing off send_request(...) for 11.4s (requests.exceptions.ConnectionError: HTTPSConnectionPool(host='api.segment.io', port=443): Max retries exceeded with url: /v1/batch (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x000001C3A66B1C10>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')))
Backing off send_request(...) for 15.8s (requests.exceptions.ConnectionError: HTTPSConnectionPool(host='api.segment.io', port=443): Max retries exceeded with url: /v1/batch (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x000001C3A66B1B50>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')))
Backing off send_request(...) for 50.2s (requests.exceptions.ConnectionError: HTTPSConnectionPool(host='api.segment.io', port=443): Max retries exceeded with url: /v1/batch (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x000001C3A66B1BB0>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')))
Backing off send_request(...) for 78.4s (requests.exceptions.ConnectionError: HTTPSConnectionPool(host='api.segment.io', port=443): Max retries exceeded with url: /v1/batch (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x000001C3A66B1C10>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')))
Backing off send_request(...) for 238.4s (requests.exceptions.ConnectionError: HTTPSConnectionPool(host='api.segment.io', port=443): Max retries exceeded with url: /v1/batch (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x000001C3A66B1B50>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')))